<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.random.account.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.random.account.domain.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq_nbr" jdbcType="VARCHAR" property="qq_nbr" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="last_login_time" jdbcType="VARCHAR" property="last_login_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, nickname, phone, qq_nbr, wechat, email, salt, role, last_login_time
  </sql>

    <!--通过用户名查询用户是否存在-->
    <select id="selectUserByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM employee WHERE username = #{username,jdbcType=VARCHAR}
    </select>

    <!--注册用户-->
    <insert id="registerUser" parameterType="com.random.account.domain.Employee">
    insert into employee (id, username, password,
      nickname, phone, qq_nbr,
      wechat, email,salt)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{qqNbr,jdbcType=VARCHAR},
      #{wechat,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR})
    </insert>

    <!--用户登录-->
    <select id="checkLogin" parameterType="com.random.account.domain.Employee" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM employee
        <where>
            <if test="username != null and username != '' ">
                username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != '' and password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过用户名查询用户的随机盐-->
    <select id="getSaltByUsername" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT salt FROM employee WHERE username = #{username,jdbcType=VARCHAR};
    </select>


</mapper>