<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.random.account.mapper.IntegralSubsidiaryMapper" >
  <resultMap id="BaseResultMap" type="com.random.account.domain.IntegralSubsidiary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="employee_id" property="employee_id" jdbcType="INTEGER" />
    <result column="integral_type_id" property="integral_type_id" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="input_time" property="input_time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, employee_id, integral_type_id, grade, explain, input_time
  </sql>

</mapper>