<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- begin::Head -->

<head>
    <meta charset="utf-8"/>
    <title>后台管理 | 文章管理</title>
    <th:block th:include="includes/header :: header"></th:block>
    <link href="/assets/plugins/treeTable/themes/vsStyle/treeTable.css" rel="stylesheet"
          type="text/css"/>
</head>
<!-- end::Head -->

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
频道管理
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">文章管理</h3></div>
        </div>
        <div class="m-portlet__head-tools">
            <a href="/article/form"
               class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
            <span>
              <i class="la la-plus"></i>
              <span>新增</span></span>
            </a>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m_datatable" id="ajax_data"></div>
    </div>
</div>
<th:block th:include="includes/footer :: footer"></th:block>
<script src="/assets/app/js/datatable.js" type="text/javascript"></script>
<script>
    $(function () {
        var columns=[{
            field: 'title',
            title: '文章标题',
            sortable: false,
            selector: false,
            textAlign: 'center',
        },{
            field: 'url',
            title: '链接地址',
            sortable: false,
            selector: false,
            textAlign: 'center',
        }];

        DataTable.initAjaxTable("ajax_data","/article/data",columns);
    });
</script>
</body>

</html>